# Pandas Series Repository
data 분석을 위한 Pandas 라이브러리에 대해 정리해 두었습니다.

Pandas는 numpy라는 데이터 조작 분석 툴로 데이터프레임이라 하는 데이터 구조를 사용함.

Pandas를 python의 엑셀이라 보면 됨.

테이블형식 데이터를 매우 쉽게 처리가 가능함.
- 행, 열을 활용하거나 데이터를 저장할 수 있음.

**Pandas Series 는 데이터 프레임의 열을 일컫는 표현**
- Pandas Series는 열이 하나밖에 없음

**DataFrame 이란 다차원 테이블 데이터**

In [1]:
import pandas as pd # pandas 사용하기 위해 import

Python List를 정의하여 , 해당 List에 5개의 stock을 정의
- stock 명시코드 NVDA , **MSFT** , **FB** , **AMZN** , **BA** 로 정의

In [3]:
my_list = ['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']
my_list # print list

['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']

In [4]:
type(my_list) # list datatype check

list

정의한 my_list 를 1차원 Pandas Series로 생성

출력결과 **List 좌측에 숫자형 인덱스가 자동으로 생성**된것을 확인할 수 있음.

***시리즈는 데이터, 그리고 연관된 인덱스***로 만들어짐.
- 숫자형 인덱스는 좌측에 자동생성됨.

또한 dataType 또한 자동으로 표기됨.

**object** dataType은 **pandas에서 문자열**이라 생각하면 됨

In [6]:
# 1. 먼저 pandas 생성자 메서드 사용
# Series() 메서드 사용하면, Pandas Series를 자동으로 생성해줌.
# Python 코드에서 생성한 List를 Pandas Series로 생성
series_1 = pd.Series(data = my_list)
# Series 출력
series_1

0    NVDA
1    MSFT
2      FB
3    AMZN
4      BA
dtype: object

In [16]:
print(type(series_1)) # type : pandas.core.series.Series

<class 'pandas.core.series.Series'>

In [10]:
# 숫자형 리스트를 통해 Pandas Series를 생성
# Data Type = int64 (정수형 , 64비트 메모리를 백엔드에서 사용중)
series_2 = pd.Series(data = [100, 200, 500, 1000, 5000])
series_2

0     100
1     200
2     500
3    1000
4    5000
dtype: int64

In [12]:
# 나만의 Pandas Series 생성
my_series = pd.Series(data = ['God Father', 'Django', 'Inside Out'])
my_series

0    God Father
1        Django
2    Inside Out
dtype: object

In [15]:
# type Check
print(type(my_series))

<class 'pandas.core.series.Series'>