# Pandas Series Repository
data 분석을 위한 Pandas 라이브러리에 대해 정리해 두었습니다.

Pandas는 numpy라는 데이터 조작 분석 툴로 데이터프레임이라 하는 데이터 구조를 사용함.

Pandas를 python의 엑셀이라 보면 됨.

테이블형식 데이터를 매우 쉽게 처리가 가능함.
- 행, 열을 활용하거나 데이터를 저장할 수 있음.

**Pandas Series 는 데이터 프레임의 열을 일컫는 표현**
- Pandas Series는 열이 하나밖에 없음

**DataFrame 이란 다차원 테이블 데이터**

In [2]:
import pandas as pd # pandas 사용하기 위해 import

Python List를 정의하여 , 해당 List에 5개의 stock을 정의
- stock 명시코드 NVDA , **MSFT** , **FB** , **AMZN** , **BA** 로 정의

In [ ]:
my_list = ['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']
my_list # print list

['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']

In [ ]:
type(my_list) # list datatype check

list

정의한 my_list 를 1차원 Pandas Series로 생성

출력결과 **List 좌측에 숫자형 인덱스가 자동으로 생성**된것을 확인할 수 있음.

***시리즈는 데이터, 그리고 연관된 인덱스***로 만들어짐.
- 숫자형 인덱스는 좌측에 자동생성됨.

또한 dataType 또한 자동으로 표기됨.

**object** dataType은 **pandas에서 문자열**이라 생각하면 됨

In [ ]:
# 1. 먼저 pandas 생성자 메서드 사용
# Series() 메서드 사용하면, Pandas Series를 자동으로 생성해줌.
# Python 코드에서 생성한 List를 Pandas Series로 생성
series_1 = pd.Series(data = my_list)
# Series 출력
series_1

0    NVDA
1    MSFT
2      FB
3    AMZN
4      BA
dtype: object

In [ ]:
print(type(series_1)) # type : pandas.core.series.Series

<class 'pandas.core.series.Series'>

In [ ]:
# 숫자형 리스트를 통해 Pandas Series를 생성
# Data Type = int64 (정수형 , 64비트 메모리를 백엔드에서 사용중)
series_2 = pd.Series(data = [100, 200, 500, 1000, 5000])
series_2

0     100
1     200
2     500
3    1000
4    5000
dtype: int64

In [ ]:
# 나만의 Pandas Series 생성
my_series = pd.Series(data = ['God Father', 'Django', 'Inside Out'])
my_series

0    God Father
1        Django
2    Inside Out
dtype: object

In [ ]:
# type Check
print(type(my_series))

<class 'pandas.core.series.Series'>

# Pandas Series Index를 Custom Index로 변경
1차원 Pandas Series를 나만의 Custom Label 혹은 Custom Index로 생성하는 방법.

Pandas 기본 메서드로 Series를 생성하면, 정수형 인덱스가 자동으로 생성됨.
- 이를 Custom으로 정의할 수 있음.

In [ ]:
# python list 생성
# Pandas Series의 실제 값
my_list = ['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']
my_list

['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']

In [ ]:
# 생성한 Pandas Series의 Custom Index로 사용할 Python List 생성
my_labels = ['stock#1','stock#2', 'stock#3', 'stock#4', 'stock#5']
my_labels

['stock#1', 'stock#2', 'stock#3', 'stock#4', 'stock#5']

In [ ]:
# 아래 메서드 사용해서 Custom index 지정 가능
# pd.Series(data = {value_list}, index = {label_list})
# 값은 my_list가 되고 , my_list의 Index는 미리 정의한 my_labels 가 된것을 확인할 수 있음.
series_3 = pd.Series(data = my_list , index = my_labels)
series_3

stock#1    NVDA
stock#2    MSFT
stock#3      FB
stock#4    AMZN
stock#5      BA
dtype: object

In [ ]:
# type 확인
print(type(series_3))

<class 'pandas.core.series.Series'>

In [ ]:
# value 정의
my_movie = ['The Godfather', 'Last of us', 'Star Wars']
my_movie

# label 정의
my_movie_label = ['movie #1','movie #2','movie #3']
my_movie_label

my_series = pd.Series(data = my_movie, index = my_movie_label)
print(my_series,'\n')

print(type(my_series))

movie #1    The Godfather
movie #2       Last of us
movie #3        Star Wars
dtype: object

<class 'pandas.core.series.Series'>

# Pandas Series를 Python Dictionary로 정의하기
Python Dictionary는 Key-value 쌍인 구조를 가지고 있음.

각각의 키는 값과 한 쌍을 가지고, ***Key 는 Dictonary에서 고유하지만 값은 중복이 가능.***

In [ ]:
# Python Dictionary 생성
# key는 다음과같은 네가지 정보를 포함함.
# 1. 고객 ID , 고객 이름 , 순 자산(자산 - 부채) , 거래 햇수 (은행과 거래한 지 몇년이 되었는가 ?)
my_dict = {'Bank Client ID': 111,
           'Bank Client Name': 'Steve',
           'Net Worth [$]': 3500,
           'Years with Bank': 9}

In [ ]:
# Dictonary 확인
my_dict

{'Bank Client ID': 111,
 'Bank Client Name': 'Steve',
 'Net Worth [$]': 3500,
 'Years with Bank': 9}

In [ ]:
# Dictonary Data Type 확인
print(type(my_dict))

<class 'dict'>

In [ ]:
# Dictonary로 Pandas Series 생성
# Series 의 index 값이 Python Dictonary의 Key가 된것을 확인할 수 있음.
# 또한 Series의 Value는 Key값의 값이 들어간것을 확인할 수 있으며,
# Type은 Object인것을 볼 수 있음. (Pandas에서 String과 같은 타입)
series_4 = pd.Series(my_dict)
series_4

Bank Client ID        111
Bank Client Name    Steve
Net Worth [$]        3500
Years with Bank         9
dtype: object

In [ ]:
# Series 생성
series_5 = pd.Series(data = {
    'NVDA': 785,
    'MSFT': 406,
    'AMZN': 174,
    'AAPL': 181
    })

# 확인
series_5

NVDA    785
MSFT    406
AMZN    174
AAPL    181
dtype: int64

# Pandas 속성
Pandas Series를 정의한 이후, 이에 대한 특징과 속성을 얻는 방법들.


Pandas Series의 속성으로 세가지로 나뉨.
1. **Attributes or Properties**
  - 괄호나 대괄호 사용 안함.
    - ex ) ```my_series.values, my_series.shape ...```
2. **Methods**
  - **( )** : 괄호를 사용하면 메서드를 사용한다는 의미
    - ex ) ```my_series.tail(), my_series.head() ...```
3. **Indexers**
  - **[ ]** : 대괄호를 사용하면 인덱서를 사용하겠다는 의미
    - ex ) ```my_series.loc[], my_series.iloc[] ...```

In [ ]:
# my_list 정의하여 Pandas Series로 변경
my_list = ['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']
my_series = pd.Series(data = my_list)
my_series

0    NVDA
1    MSFT
2      FB
3    AMZN
4      BA
dtype: object

In [ ]:
# Pandas Series의 Values , Attributes 출력.
# 괄호나 대괄호 사용하지 않았기에 Pandas Series의 value 만 출력.
my_series.values

array(['NVDA', 'MSFT', 'FB', 'AMZN', 'BA'], dtype=object)

In [ ]:
# Index만 출력.
# index가 0부터 시작해서 5개까지 있는데, step, 1씩 올라간다는 의미
my_series.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
# 'O' 데이터타입은 Object를 의미함. 이는 Series에 저장된 데이터가 String이기 떄문에 Object로 생성됨
my_series.dtype

dtype('O')

In [ ]:
# Pandas Series의 elements들이 고유한지 아닌지를 판단함.
# Pandas Series에 저장된 값들 (['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']) 이 고유한지 판단함.
# 겹치는값이 있으면 false
my_series.is_unique

True

In [ ]:
# 요소 개수 출력, 5개 저장되어서 5 출력.
# 1차원 Series라서 한개만나옴
my_series.shape

(5,)

In [ ]:
# Series의 Size 출력
# 5개 저장되어있으니 5 출력
my_series.size

5

# Pandas Methods
Pandas Method는 **( )** 괄호를 사용해서 정보나 특징을 출력함.

Pandas Methods들은 Series 내부 정보를 변경하는데 사용함.
- ex ) ```my_series.tail() , my_series.head(), my_series.drop_duplicates() ...```

In [ ]:
# Test Series 생성
my_series = pd.Series(data = [100, 200, 500, 1000, 5000])
my_series

0     100
1     200
2     500
3    1000
4    5000
dtype: int64

In [ ]:
# sum() 메서드로 모든 Series의 value들을 더할 수 있음
my_series.sum()

6800

In [ ]:
# product() 메서드로 Series의 모든 value들을 곱할 수 있음
my_series.product()

50000000000000

In [ ]:
# mean() 메서드로 Series의 모든 value들의 평균을 구할 수 있음
my_series.mean()

1360.0

In [ ]:
# head(number) 메서드로 Series의 value중 처음 n 개들의 요소들만 출력할 수 있음.
# head() 메서드 파라미터로 value number 들어감
my_series.head(2)

0    100
1    200
dtype: int64

In [ ]:
# head(number) 메서드로 특정 Series의 value들만 뽑아서 하위 Series를 생성할 수 잇음.
# - DataFrame 기초
new_series = my_series.head(3)
new_series

0    100
1    200
2    500
dtype: int64

In [ ]:
# tail(number) 메서드로 특정 Series의 value 중 아래부터 n개 위의 요소들만 뽑아올 수 있음.
# tail() 메서드 파라미터로 value number 들어감
my_series.tail(2)

3    1000
4    5000
dtype: int64

In [ ]:
# series 메모리 소비량 확인
my_series.memory_usage()

168

# CSV 데이터를 Pandas를 이용하여 Import 하는 방안
.CSV 데이터 파일을 Pandas 를 통해 Import 하는 방안에 대해 기술합니다.

Pandas의 read_csv 를 사용하여 CSV file을 Import 함.

```read_``` 메서드를 확인해보면 , 정말 다양한 Data Format을 Import 할 수 있는것을 확인할 수 있음.
- html, json, execl 등 ...



Pandas Series, 일차원 배열로 import 하는 방안과, DataFrame인 다차원 배열로 Import 하는 방안 두가지로 나뉨.

In [5]:
# read_csv(file_path) 메서드로 Import 함.
# 파라미터로 파일 경로를 넣어줌
# squeeze(Boolean) 메서드의 파라미터를 True로 두어서 어떤 데이터 타입을 넣엇던간에 Pandas Series로 가져오겠다는 의미임.
# squeeze(Boolean) 메서드 파라미터를 false로 두면, Pandas가 무조건 데이터를 DataFrame으로 가져오게 됨.
# - default Option이 false임
sp500 = pd.read_csv('S_P500_Prices.csv').squeeze(True)

# 출력결과 CSV 파일을 가져와서 Pandas Series로 출력한것을 확인할 수 있음.
# 이름, 길이, 데이터타입이 출력됨.
# DataFrame과 Series의 차이점은, Series는 데이터 포멧팅이 안된다는게 중요함.
# DataFrame은 데이터가 포메팅되어 1열이 아닌 여러 행과 열을 가진 다차원 데이터 테이블임.
sp500

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [23]:
# squeeze(False) 옵션으로 DataFrame 생성
# 출력결과 데이터가 포멧팅되어 정렬후 출력되는것을 알 수 있음.
# 또한 출력된 정보를 내가 보고싶은정보로 수정하거나 정렬할 수 잇음.
# 각각의 셀에 컬러링도 된것을 볼 수 있음
sp500_df = pd.read_csv('S_P500_Prices.csv').squeeze(False)
sp500_df

            sp500
0     1295.500000
1     1289.089966
2     1293.670044
3     1308.040039
4     1314.500000
...           ...
2154  3327.770020
2155  3349.159912
2156  3351.280029
2157  3360.469971
2158  3333.689941

[2159 rows x 1 columns]

In [7]:
# sp500 의 DataType은 Series
print(type(sp500))

<class 'pandas.core.series.Series'>

In [8]:
print(type(sp500_df))

<class 'pandas.core.frame.DataFrame'>

# Pandas 빌트인(내부) 함수
Python 함수로도 Pandas는 잘 작동함.

따라서 Python 함수를 통해서 Pandas를 사용하는것 또한 가능하고 , 잘 작동한다.

In [11]:
sp500 = pd.read_csv('S_P500_Prices.csv').squeeze(True)
sp500

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [12]:
# Pandas Series의 타입
print(type(sp500))

<class 'pandas.core.series.Series'>

In [13]:
# Pandas Series의 길이,
# Series가 0부터 시작하여 2158로 끝남
print(len(sp500))

2159

In [14]:
# Pandas 데이터(value) 범위 중 최댓값,
print(max(sp500))

3386.149902

In [15]:
# Pandas 데이터(value) 범위 중 최솟값
print(min(sp500))

1278.040039

In [39]:
my_series = pd.Series(data=[-10,100,-30,50,100])

# 음수값 양수 전환
abs(my_series)

# 중복제거
set(abs(my_series))

{10, 30, 50, 100}

# Pandas Series 정렬(Sort)
Pandas Index를 정렬하는 방법들

In [42]:
# 테스트를 위한 csv 파일 불러오기.
sp500 = pd.read_csv('S_P500_Prices.csv').squeeze(True)
sp500

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [51]:
# value 기준으로 최솟값부터 최댓값으로 정렬된것을 확인할 수 있음.
sp500.sort_values()

97      1278.040039
98      1278.180054
99      1285.500000
1       1289.089966
2       1293.670044
           ...
2038    3373.229980
2034    3373.939941
2033    3379.449951
2035    3380.159912
2037    3386.149902
Name: sp500, Length: 2159, dtype: float64

In [47]:
# 바로 위에서 sp500 Series를 Sort 처리했는데, 정렬이 안된것을 확인할 수 있음.
# 이유는 실제로 Pandas 메모리에 정렬된 결과가 저장되지 않았기 때문임.
# Pandas 메모리에 Sort된 결과를 남기고 싶다면, sort_value() or sort_index() 메서드 파라미터에 (inplace = True) 를 넣어주어야 함.
# sp501 Series를 생성한 뒤 , inplace=True 옵션으로 정렬결과를 메모리에 저장함.
sp500

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [58]:
sp501 = sp500.copy()
sp501

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [61]:
sp501.sort_values(inplace=True)
sp501

97      1278.040039
98      1278.180054
99      1285.500000
1       1289.089966
2       1293.670044
           ...
2038    3373.229980
2034    3373.939941
2033    3379.449951
2035    3380.159912
2037    3386.149902
Name: sp500, Length: 2159, dtype: float64

In [60]:
sp501

97      1278.040039
98      1278.180054
99      1285.500000
1       1289.089966
2       1293.670044
           ...
2038    3373.229980
2034    3373.939941
2033    3379.449951
2035    3380.159912
2037    3386.149902
Name: sp500, Length: 2159, dtype: float64

In [64]:
# sort_index() 메서드로 인덱스 기준 최솟값부터 최댓값까지 정렬된것을 볼 수 잇음.
sp500.sort_index(inplace=True)
sp500

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [81]:
sp502 = pd.read_csv('S_P500_Prices.csv').squeeze(True)
sp503 = sp502.copy()
sp503.sort_values(inplace=True, ascending=False)
sp503

2037    3386.149902
2035    3380.159912
2033    3379.449951
2034    3373.939941
2038    3373.229980
           ...
2       1293.670044
1       1289.089966
99      1285.500000
98      1278.180054
97      1278.040039
Name: sp500, Length: 2159, dtype: float64

# Pandas Series에서 수학 연산하기
산술 연산을 위한 Pandas 메서드 정리

In [84]:
# 테스트용 csv import
sp500 = pd.read_csv('S_P500_Prices.csv').squeeze(True)
sp500

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [85]:
# 모든 Value들의 합을 구하기
sp500.sum()

4790280.287214

In [86]:
# 모든 value들의 수를 구하기
sp500.count()

2159

In [87]:
# 모든 value들중 최댓값 구하기
sp500.max()

3386.149902

In [89]:
# 모든 value들중 최솟값 구하기
sp500.min()

1278.040039

In [90]:
# 해당 Sereis의 전반적인 정보 확인하기. 새로운 데이터셋을 봤을때 사용하면 유용함.
# 출력정보는 다음과 같음
# 1. count , 2. 평균(mean) , 3. std (표준편차) , 3. min (최솟값) , 4. max (최댓값) , 25% , 50%, 70% 에 있는 값
sp500.describe()

count    2159.000000
mean     2218.749554
std       537.321727
min      1278.040039
25%      1847.984985
50%      2106.629883
75%      2705.810059
max      3386.149902
Name: sp500, dtype: float64

In [91]:
# 평균 구하기
aver = sp500.sum() / sp500.count()
print(aver)

2218.7495540592868

# Pandas Series에서 값이 존재하는지 여부를 체크
Pandas Series에서 if문을 사용한것 처럼 값이 있는지 여부를 체크하는 방안

In [92]:
# 테스트용 csv파일 import
sp500 = pd.read_csv('S_P500_Prices.csv').squeeze(True)

In [93]:
# value에 1295.500000 가 있는지 확인하는 방법,
# 아래 명령문은, Bool 형태로 return 받을 수 있음
# {조건값} in {Series_name}.values 구문 사용
1295.500000 in sp500.values

True

In [95]:
# index에 해당 값이 있는지 확인하는것 또한 가능함.
1295.500000 in sp500.index

False

In [97]:
# in 구문은 기본적으로 값이 아닌 index를 기준으로 판단함.
# 기본적으로 values나 index를 넣어주지 않고 Series 이름만 넣는다면, index를 기준으로 찾음.
1295.500000 in sp500

False

In [104]:
3349 in sp500.values

False

In [103]:
# sp500 Series를 반올림하여 3349 값이 있는지 search
3349 in sp500.values.round()

True

# Pandas Series에 Indexing 하는 방법
Pandas Series에 인덱싱을 진행하는 방안에 대해 기술합니다.

In [105]:
# 테스트용 csv import
sp500 = pd.read_csv('S_P500_Prices.csv').squeeze(True)
sp500

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [109]:
# Pandas Series value에서 첫번째 요소에 접근하기
# index를 이용해서 Pandas Series의 value에 접근할 수 있음.
# 마치 Python의 List에서 값에 접근할때처럼 하면 됨.
sp500[0]

1295.5

In [110]:
# 4번쨰 요소 접근하기
sp500[3]

1308.040039

In [113]:
# Pandas Series의 마지막 요소 접근하기
sp500[2158]

3333.689941

In [114]:
# Pandas Series 5번쨰 요소 접근하기
sp500[4]

1314.5

# Pandas Series with Slice
python의 slice 사용법을 Pandas Series의 요소에 접근할 때도 똑같이 사용할 수 있습니다.

- ```my_series[::-1] , my_series[0:1], my_series[0:5] ...```

In [116]:
sp500 = pd.read_csv('S_P500_Prices.csv').squeeze(True)
sp500

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [121]:
# [:] , : 은 모든것을 출력하라는 의미
sp500[:]

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [119]:
# index 0부터 시작해서 5 전까지 확인하기
# 0부터 시작해서 5를 포함하지 않는곳까지 확인 (0 ~ 4)
# 0, 1, 2, 3, 4
sp500[0:5]

0    1295.500000
1    1289.089966
2    1293.670044
3    1308.040039
4    1314.500000
Name: sp500, dtype: float64

In [120]:
# index 0부터 시작해서 10을 포함하는곳 직전까지 확인
sp500[0:10]

0    1295.500000
1    1289.089966
2    1293.670044
3    1308.040039
4    1314.500000
5    1315.380005
6    1316.000000
7    1314.650024
8    1326.060059
9    1318.430054
Name: sp500, dtype: float64

In [122]:
# 5부터 마지막 요소까지 출력하라
sp500[5:]

5       1315.380005
6       1316.000000
7       1314.650024
8       1326.060059
9       1318.430054
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2154, dtype: float64

In [124]:
# 5부터 20까지 2씩 증가하라
sp500[5:21:2]

5     1315.380005
7     1314.650024
9     1318.430054
11    1313.010010
13    1324.089966
15    1344.900024
17    1347.050049
19    1351.949951
Name: sp500, dtype: float64

In [125]:
# 20부터 5까지 3씩 감소하라
sp500[20:4:-3]

20    1342.640015
17    1347.050049
14    1325.540039
11    1313.010010
8     1326.060059
5     1315.380005
Name: sp500, dtype: float64

In [127]:
# Pandas Series에서 마지막 3개를 제외하고 모두 출력하라
cnt = sp500.count()-3
sp500[:cnt]

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2151    3271.120117
2152    3294.610107
2153    3306.510010
2154    3327.770020
2155    3349.159912
Name: sp500, Length: 2156, dtype: float64