# Pandas Series Repository
data 분석을 위한 Pandas 라이브러리에 대해 정리해 두었습니다.

Pandas는 numpy라는 데이터 조작 분석 툴로 데이터프레임이라 하는 데이터 구조를 사용함.

Pandas를 python의 엑셀이라 보면 됨.

테이블형식 데이터를 매우 쉽게 처리가 가능함.
- 행, 열을 활용하거나 데이터를 저장할 수 있음.

**Pandas Series 는 데이터 프레임의 열을 일컫는 표현**
- Pandas Series는 열이 하나밖에 없음

**DataFrame 이란 다차원 테이블 데이터**

In [1]:
import pandas as pd # pandas 사용하기 위해 import

Python List를 정의하여 , 해당 List에 5개의 stock을 정의
- stock 명시코드 NVDA , **MSFT** , **FB** , **AMZN** , **BA** 로 정의

In [ ]:
my_list = ['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']
my_list # print list

['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']

In [ ]:
type(my_list) # list datatype check

list

정의한 my_list 를 1차원 Pandas Series로 생성

출력결과 **List 좌측에 숫자형 인덱스가 자동으로 생성**된것을 확인할 수 있음.

***시리즈는 데이터, 그리고 연관된 인덱스***로 만들어짐.
- 숫자형 인덱스는 좌측에 자동생성됨.

또한 dataType 또한 자동으로 표기됨.

**object** dataType은 **pandas에서 문자열**이라 생각하면 됨

In [ ]:
# 1. 먼저 pandas 생성자 메서드 사용
# Series() 메서드 사용하면, Pandas Series를 자동으로 생성해줌.
# Python 코드에서 생성한 List를 Pandas Series로 생성
series_1 = pd.Series(data = my_list)
# Series 출력
series_1

0    NVDA
1    MSFT
2      FB
3    AMZN
4      BA
dtype: object

In [ ]:
print(type(series_1)) # type : pandas.core.series.Series

<class 'pandas.core.series.Series'>

In [ ]:
# 숫자형 리스트를 통해 Pandas Series를 생성
# Data Type = int64 (정수형 , 64비트 메모리를 백엔드에서 사용중)
series_2 = pd.Series(data = [100, 200, 500, 1000, 5000])
series_2

0     100
1     200
2     500
3    1000
4    5000
dtype: int64

In [ ]:
# 나만의 Pandas Series 생성
my_series = pd.Series(data = ['God Father', 'Django', 'Inside Out'])
my_series

0    God Father
1        Django
2    Inside Out
dtype: object

In [ ]:
# type Check
print(type(my_series))

<class 'pandas.core.series.Series'>

# Pandas Series Index를 Custom Index로 변경
1차원 Pandas Series를 나만의 Custom Label 혹은 Custom Index로 생성하는 방법.

Pandas 기본 메서드로 Series를 생성하면, 정수형 인덱스가 자동으로 생성됨.
- 이를 Custom으로 정의할 수 있음.

In [ ]:
# python list 생성
# Pandas Series의 실제 값
my_list = ['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']
my_list

['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']

In [ ]:
# 생성한 Pandas Series의 Custom Index로 사용할 Python List 생성
my_labels = ['stock#1','stock#2', 'stock#3', 'stock#4', 'stock#5']
my_labels

['stock#1', 'stock#2', 'stock#3', 'stock#4', 'stock#5']

In [ ]:
# 아래 메서드 사용해서 Custom index 지정 가능
# pd.Series(data = {value_list}, index = {label_list})
# 값은 my_list가 되고 , my_list의 Index는 미리 정의한 my_labels 가 된것을 확인할 수 있음.
series_3 = pd.Series(data = my_list , index = my_labels)
series_3

stock#1    NVDA
stock#2    MSFT
stock#3      FB
stock#4    AMZN
stock#5      BA
dtype: object

In [ ]:
# type 확인
print(type(series_3))

<class 'pandas.core.series.Series'>

In [ ]:
# value 정의
my_movie = ['The Godfather', 'Last of us', 'Star Wars']
my_movie

# label 정의
my_movie_label = ['movie #1','movie #2','movie #3']
my_movie_label

my_series = pd.Series(data = my_movie, index = my_movie_label)
print(my_series,'\n')

print(type(my_series))

movie #1    The Godfather
movie #2       Last of us
movie #3        Star Wars
dtype: object

<class 'pandas.core.series.Series'>

# Pandas Series를 Python Dictionary로 정의하기
Python Dictionary는 Key-value 쌍인 구조를 가지고 있음.

각각의 키는 값과 한 쌍을 가지고, ***Key 는 Dictonary에서 고유하지만 값은 중복이 가능.***

In [2]:
# Python Dictionary 생성
# key는 다음과같은 네가지 정보를 포함함.
# 1. 고객 ID , 고객 이름 , 순 자산(자산 - 부채) , 거래 햇수 (은행과 거래한 지 몇년이 되었는가 ?)
my_dict = {'Bank Client ID': 111,
           'Bank Client Name': 'Steve',
           'Net Worth [$]': 3500,
           'Years with Bank': 9}

In [3]:
# Dictonary 확인
my_dict

{'Bank Client ID': 111,
 'Bank Client Name': 'Steve',
 'Net Worth [$]': 3500,
 'Years with Bank': 9}

In [4]:
# Dictonary Data Type 확인
print(type(my_dict))

<class 'dict'>

In [6]:
# Dictonary로 Pandas Series 생성
# Series 의 index 값이 Python Dictonary의 Key가 된것을 확인할 수 있음.
# 또한 Series의 Value는 Key값의 값이 들어간것을 확인할 수 있으며,
# Type은 Object인것을 볼 수 있음. (Pandas에서 String과 같은 타입)
series_4 = pd.Series(my_dict)
series_4

Bank Client ID        111
Bank Client Name    Steve
Net Worth [$]        3500
Years with Bank         9
dtype: object

In [9]:
# Series 생성
series_5 = pd.Series(data = {
    'NVDA': 785,
    'MSFT': 406,
    'AMZN': 174,
    'AAPL': 181
    })

# 확인
series_5

NVDA    785
MSFT    406
AMZN    174
AAPL    181
dtype: int64

# Pandas 속성
Pandas Series를 정의한 이후, 이에 대한 특징과 속성을 얻는 방법들.


Pandas Series의 속성으로 세가지로 나뉨.
1. **Attributes or Properties**
  - 괄호나 대괄호 사용 안함.
    - ex ) ```my_series.values, my_series.shape ...```
2. **Methods**
  - **( )** : 괄호를 사용하면 메서드를 사용한다는 의미
    - ex ) ```my_series.tail(), my_series.head() ...```
3. **Indexers**
  - **[ ]** : 대괄호를 사용하면 인덱서를 사용하겠다는 의미
    - ex ) ```my_series.loc[], my_series.iloc[] ...```

In [11]:
# my_list 정의하여 Pandas Series로 변경
my_list = ['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']
my_series = pd.Series(data = my_list)
my_series

0    NVDA
1    MSFT
2      FB
3    AMZN
4      BA
dtype: object

In [12]:
# Pandas Series의 Values , Attributes 출력.
# 괄호나 대괄호 사용하지 않았기에 Pandas Series의 value 만 출력.
my_series.values

array(['NVDA', 'MSFT', 'FB', 'AMZN', 'BA'], dtype=object)

In [13]:
# Index만 출력.
# index가 0부터 시작해서 5개까지 있는데, step, 1씩 올라간다는 의미
my_series.index

RangeIndex(start=0, stop=5, step=1)

In [14]:
# 'O' 데이터타입은 Object를 의미함. 이는 Series에 저장된 데이터가 String이기 떄문에 Object로 생성됨
my_series.dtype

dtype('O')

In [15]:
# Pandas Series의 elements들이 고유한지 아닌지를 판단함.
# Pandas Series에 저장된 값들 (['NVDA', 'MSFT', 'FB', 'AMZN', 'BA']) 이 고유한지 판단함.
# 겹치는값이 있으면 false
my_series.is_unique

True

In [16]:
# 요소 개수 출력, 5개 저장되어서 5 출력.
# 1차원 Series라서 한개만나옴
my_series.shape

(5,)

In [17]:
# Series의 Size 출력
# 5개 저장되어있으니 5 출력
my_series.size

5

# Pandas Methods
Pandas Method는 **( )** 괄호를 사용해서 정보나 특징을 출력함.

Pandas Methods들은 Series 내부 정보를 변경하는데 사용함.
- ex ) ```my_series.tail() , my_series.head(), my_series.drop_duplicates() ...```

In [18]:
# Test Series 생성
my_series = pd.Series(data = [100, 200, 500, 1000, 5000])
my_series

0     100
1     200
2     500
3    1000
4    5000
dtype: int64

In [19]:
# sum() 메서드로 모든 Series의 value들을 더할 수 있음
my_series.sum()

6800

In [20]:
# product() 메서드로 Series의 모든 value들을 곱할 수 있음
my_series.product()

50000000000000

In [21]:
# mean() 메서드로 Series의 모든 value들의 평균을 구할 수 있음
my_series.mean()

1360.0

In [23]:
# head(number) 메서드로 Series의 value중 처음 n 개들의 요소들만 출력할 수 있음.
# head() 메서드 파라미터로 value number 들어감
my_series.head(2)

0    100
1    200
dtype: int64

In [24]:
# head(number) 메서드로 특정 Series의 value들만 뽑아서 하위 Series를 생성할 수 잇음.
# - DataFrame 기초
new_series = my_series.head(3)
new_series

0    100
1    200
2    500
dtype: int64

In [32]:
# tail(number) 메서드로 특정 Series의 value 중 아래부터 n개 위의 요소들만 뽑아올 수 있음.
# tail() 메서드 파라미터로 value number 들어감
my_series.tail(2)

3    1000
4    5000
dtype: int64

In [34]:
# series 메모리 소비량 확인
my_series.memory_usage()

168

# CSV 데이터를 Pandas를 이용하여 Import 하는 방안
.CSV 데이터 파일을 Pandas 를 통해 Import 하는 방안에 대해 기술합니다.

Pandas의 read_csv 를 사용하여 CSV file을 Import 함.

```read_``` 메서드를 확인해보면 , 정말 다양한 Data Format을 Import 할 수 있는것을 확인할 수 있음.
- html, json, execl 등 ...



Pandas Series, 일차원 배열로 import 하는 방안과, DataFrame인 다차원 배열로 Import 하는 방안 두가지로 나뉨.

In [39]:
# read_csv(file_path) 메서드로 Import 함.
# 파라미터로 파일 경로를 넣어줌
# squeeze(Boolean) 메서드의 파라미터를 True로 두어서 어떤 데이터 타입을 넣엇던간에 Pandas Series로 가져오겠다는 의미임.
# squeeze(Boolean) 메서드 파라미터를 false로 두면, Pandas가 무조건 데이터를 DataFrame으로 가져오게 됨.
sp500 = pd.read_csv('S_P500_Prices.csv').squeeze(True)

# 출력결과 CSV 파일을 가져와서 Pandas Series로 출력한것을 확인할 수 있음.
# 이름, 길이, 데이터타입이 출력됨.
# DataFrame과 Series의 차이점은, Series는 데이터 포멧팅이 안된다는게 중요함.
# DataFrame은 데이터가 포메팅되어 1열이 아닌 여러 행과 열을 가진 다차원 데이터 테이블임.
sp500

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [41]:
# DataFrame 생성
# 출력결과 데이터가 포멧팅되어 정렬후 출력되는것을 알 수 있음.
# 또한 출력된 정보를 내가 보고싶은정보로 수정하거나 정렬할 수 잇음.
sp500_df = pd.read_csv('S_P500_Prices.csv').squeeze(False)
sp500_df

            sp500
0     1295.500000
1     1289.089966
2     1293.670044
3     1308.040039
4     1314.500000
...           ...
2154  3327.770020
2155  3349.159912
2156  3351.280029
2157  3360.469971
2158  3333.689941

[2159 rows x 1 columns]